{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://image.ibb.co/dbetgU/untrol_full_logo.png">
    </a>
    <h1>Blynk Reports .csv to .PDF converter</h1>
    <p>This is an alpha Python application deployed to Heroku. It's a reasonably simple app - but it works, simply upload your compressed file and it will return the plotted graph in .pdf format.</p>

        <!-- Basic Uppy styles -->
    <link rel="stylesheet" href="/uppy/uppy.min.css">
    <div>
      <div>
        <h5>autoProceed is on</h5>
        <!-- Target DOM node #1 -->
        <div class="UppyDragDrop-One"></div>
        <!-- Progress bar #1 -->
        <div class="UppyDragDrop-One-Progress"></div>
      </div>
      <div>
        <h5>autoProceed is off</h5>
        <!-- Target DOM node #2 -->
        <div id="UppyDragDrop-Two"></div>
        <!-- Progress bar #2 -->
        <div class="UppyDragDrop-Two-Progress"></div>
        <button class="UppyDragDrop-Two-Upload">Upload</button>
      </div>
    </div>
   
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
</div>
{% endblock %}
