{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://image.ibb.co/dbetgU/untrol_full_logo.png">
    </a>
    <h1>Blynk Reports .csv to .PDF converter.041018</h1> 
  </div>
</div>

<div class="container">
    <div class="text-center">
        <p>This is an alpha Python application deployed to Heroku. It's a reasonably simple app - but it works, simply upload your compressed file and it will return the plotted graph in .pdf format.</p>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="myfile">
          <button type="submit">Upload</button>
        </form>
      
        {% if uploaded_file_url %}
          <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}

        <p></p>
        <div class="alert alert-warning text-center" role="alert">
          The server DOES NOT record/store any data, it only converts your data to .pdf and provide the file back.
        </div>
    </div>
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
</div>
{% endblock %}
